// Colours

$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);

// Neutrals
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);

// Breakpoints

$tablet: 768px;
$desktop: 1280px;

// Padding

$sm-padding: 1.5rem;
$lg-padding: 2.5rem;
